<div class="container" ng-if="media==null">
    <h3>Ce média n'existe pas.</h3>
</div>
<div class="container" ng-if="media!=null">
    <div class="row">
        <h3>Fiche du média
            <a href=""><span class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModal"></span></a>
        </h3>            
        <div class="col-sm-3">
            <img src="https://marketplace.canva.com/MACGd4RltWA/1/thumbnail_large/canva-cd-dvd-transparent-background-MACGd4RltWA.png" width="100" height="100" alt="Problème">
        </div>
        <div class="col-sm-4">
            <p><b>Titre :</b> {{media.titre}}</p>
            <p><b>Type :</b> {{media.type}}</p>
            <p><b>Auteur :</b> {{media.auteur}}</p>
        </div>                
    </div>
    <br>
    <div class="row">
        <p><b>Liste des adhérents l'ayant emprunté</b></p>
        <ul class="list-group">
            <li ng-repeat="emprunt in emprunts" class="list-group-item {{verifierDate(emprunt)}}">{{emprunter(emprunt)}}</li>
        </ul>
    </div>

    <div class="row">
        <h3>Ajouter un prêt</h3>
        <form class="form-horizontal" name="pretForm" ng-submit="submit()">
            <div class="form-group">
                <label class="control-label col-sm-2"  for="titre">Emprunteur</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="selectedAdherent" ng-options="adherent.nom + ' ' + adherent.prenom for adherent in adherents" ng-change="changeAdherent(selectedAdherent)">
                    </select>
                </div>
            </div>  
            <div class="form-group">
                <label class="control-label col-sm-2" for="titre">Date</label>
                <div class="col-sm-10">
                    <input class="form-control" ng-change="changerDate()" required type="date" name="date" ng-model="datePret"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="titre">Date de retour prévu</label>
                <div class="col-sm-10">
                    <input class="form-control" type="date" readonly name="date" ng-model="dateRetour"/>
                </div>
            </div>
            <input ng-disabled="pretForm.$error.required" class="center-block btn btn-success" type="submit" value="Ajouter">
        </form>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">    
                <span class="close" data-dismiss="modal">&times;</span>
                <h3>Modifier un média</h3>
            </div>
            <div class="modal-body">
                <div class="container">                
                    <form class="form-horizontal" ng-submit="submitMedia()" name="mediaForm">
                        <div class="form-group">
                            <label class="control-label col-sm-1" for="text">Titre</label>
                            <div class="col-sm-4">
                                <input required class="form-control" ng-model="media.titre" type="text" id="text" placeholder="Les 4 petits cochons"/>    
                            </div>                    
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1" for="select">Type</label>
                            <div class="col-sm-4">
                                <select required id="select" ng-model="media.type" ng-options="x for x in types" ng-options="" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1" for="titre">Auteur</label>
                            <div class="col-sm-4">
                                <input class="form-control" ng-model="media.auteur" required type="text" id="titre" placeholder="Best Author Ever"/>
                            </div>
                        </div>                                                                
                        <input value="Enregistrer" type="submit" class="btn btn-default btn-sm center-block" ng-disabled="mediaForm.$error.required" >
                    </form>                
                </div>
            </div>
        </div>
    </div>
</div>                
<br>