<div class ="container">
	<h2>Enregistrement d'un nouveau média !</h2>
	
	<br>
	<br>
	<form class="form-horizontal" name="creamediaForm" ng-submit="CreationMedia()">
	
		
		<div class="form-group" ng-submit="">
			<label class="control-label col-sm-2" for="titremedia">Titre
				:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="titremedia"
					placeholder="Titre du média" ng-model="media.titre" required>
			</div>
			<div class="col-sm-offset-1"></div>
		</div>
	

		<div class="form-group">
			<label class="control-label col-sm-2" for="typemedia">Type :</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="media.type">
					<option><span class="glyphicon glyphicon-book" ><span/>Livre</a></option>
					<option><span class="glyphicon glyphicon-music"><span/>CD</a></option>
					<option><span class="glyphicon glyphicon-film"><span/>DVD</a></option>
				</select>

			</div>
			<div class="col-sm-offset-1"></div>
		</div>
		

		<div class="form-group">
			<label class="control-label col-sm-2" for="auteurmedia">Auteur
				:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="auteurmedia"
					placeholder="Auteur du média" ng-model="media.auteur" required>
			</div>
			<div class="col-sm-offset-1"></div>
		</div>
<br>
				
					<input class="btn btn-success center-block" type="submit"
						value="Enregistrer">
				
		
	
	</form>
	<p class="messAdhMediaCree">{{MessageMediaCree}}</p>
	

</div>