<div class="container" ng-if="adherent==null">
    <h3>Cet adhérent n'existe pas.</h3>
</div>
<div class="container" ng-if="adherent!=null">
    <div class="row">
        <h3>Fiche de l'adhérent
            <a href=""><span class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModalun"></span></a>
        </h3>            
        <div class="col-sm-6">
            <p><b>Nom :</b> {{adherent.nom}}</p>
            <p><b>Prénom :</b> {{adherent.prenom}}</p>
            <p><b>Date de naissance :</b> {{adherent.dateNaissance | date:'dd/MM/yyyy'}}</p>
            <p><b>Age :</b> {{getAge() == 'NaN ans' ? '' : getAge()}}</p>
            <p><b>Email :</b> {{adherent.email}}</p>
            <p><b>Ville :</b> {{adherent.ville}}</p>
            <p><b>Code postal :</b> {{adherent.cp}}</p>
            <p><b>Rue :</b> {{adherent.rue}}</p>
            <p><b>Date de paiement de la cotisation :</b> {{adherent.dateCotisation | date:'dd/MM/yyyy'}}</p>
            <p><b>Date de fin d'abonnement :</b> {{finCotisation | date:'dd/MM/yyyy'}}</p>
            <p><b>Montant de la cotisation :</b> {{adherent.montantCotisation}}€</p>
        </div>                
    </div>
    <br>
     <!-- Liste des médias -->
    <div class="row">
        <p><b>Liste des médias empruntés</b></p>
        <ul class="list-group">
            <li ng-model="listeEmprunt" ng-repeat="emprunt in UserEmprunts | filter: { dateRetour: null }" class="list-group-item {{verifierDate(emprunt)}}">{{emprunter(emprunt)}}</li>
            <li ng-if="!UserEmprunts" class="list-group-item list-group-item-info"> Aucun média n'a été emprunté par cet adhérent</li>
        </ul>
    </div>
    <!-- Rendre un média -->
    <div class= "row">
        <h3>Rendre un média</h3>
    <form class="form-horizontal" ng-submit="rendreMedia()">
        <div class="form-group">
            <label class="control-label col-sm-2" for="titreMedia">Titre du média</label>
            <div class="col-sm-10">
                    <select class="form-control" ng-model="emprunt.selectedRendreMedia" ng-options="emprunt.media.titre + ' par ' + emprunt.media.auteur for emprunt in UserEmprunts | filter: { dateRetour: null }">
                    </select>
            </div>
        </div>
        <input class="btn btn-success center-block" type="submit" value="Rendre"/>
    </form>
    </div>
    <!-- Emprunter un média -->
    <div class="row">         
        <h3>Ajouter un média emprunté</h3>
        <form class="form-horizontal" ng-submit="submitEmprunt()">
            <div class="form-group">
                <label class="control-label col-sm-2" for="titre">Titre</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="emprunt.selectedMedia" ng-options="media.titre + ' par ' + media.auteur + ' (' + media.type + ')' for media in medias">
                    </select>
                </div>
            </div>  
            <div class="form-group">
                <label class="control-label col-sm-2" for="titre">Date</label>
                <div class="col-sm-10">
                    <input class="form-control" type="date" ng-model="emprunt.dateEmprunt" name="date" id="date"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="titre">Date de retour</label>
                <div class="col-sm-10">
                    <input class="form-control" type="date" ng-model="emprunt.dateRetour" readonly name="date" id="date_retour"/>
                </div>
            </div>
            <input class="btn btn-success center-block" type="submit" value="Enregistrer"/>
        </form>
        <p>{{MessMediaDejaEmprunte}}</p>
    </div>

<!-- Modal -->
<div id="myModalun" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">    
                <span class="close" data-dismiss="modal">&times;</span>
                <h3>Modifier un adhérent</h3>
            </div>
            <div class="modal-body">
                <div class="container">                
                    <form class="form-horizontal" ng-submit="submit()" name="adherentForm">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="nomadherent">Nom :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="nomadherent" ng-model="adherent.nom"
                                    placeholder="Votre nom" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Prénom :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="prenomadherent" 
                                    ng-model="adherent.prenom" placeholder="Votre prénom" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Date de naissance :</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="dateadherent" 
                                ng-model="adherent.dateNaissance" required>
                                <p><b>Age :</b> {{getAge()}}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Email :</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control" id="emailadherent" 
                                placeholder="Email" ng-model="adherent.email" required>
                            </div>
                        </div>

                        <div class="form-group">
                                <label class="control-label col-sm-2">Adresse :</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="adresse"
                                        placeholder="Adresse" ng-model="adherent.rue" name="adresseadherentl">
                                </div>                                    
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" id="cp"
                                        placeholder="Code postal" ng-model="adherent.cp" name="cpadherent">
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <input type="text" class="form-control" id="ville"
                                    placeholder="Ville" ng-model="adherent.ville" name="villeadherent">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Date de paiement de la
                                cotisation :</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" ng-model="adherent.dateCotisation"
                                id="datecotiadherent">
                                <p><b>Date de fin d'abonnement :</b> {{finCotisation}}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Montant cotisation :</label>
                            <div class="col-sm-4">

                                <input type="number" class="form-control"
                                    id="cotiadherent" ng-model="adherent.montantCotisation" placeholder="Montant de la cotisation">                                
                            </div>
                        </div>                                    
                        <input value="Enregistrer" type="submit" ng-disabled="adherentForm.$error.required" class="btn btn-default btn-sm center-block">
                    </form>
                </div>
            </div>                                
        </div>
    </div>
</div>