<div class="container">

			<form class="form-horizontal" ng-submit="rechercher()">
				<div class="form-group">
					<label class="control-label col-sm-2" for="titre">Titre contient :</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="titre" ng-model="titreContient">
				    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="auteur">Nom auteur contient :</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="auteur" ng-model="auteurContient">
				    </div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-2" for="type">Type :</label>
					<div class="col-sm-10">
				  <select class="form-control" id="type" ng-model="typeEst">
						<option>Tous</option>
				    <option>Livre</option>
				    <option>CD</option>
				    <option>DVD</option>
				  </select>
				  
				  </div>
				</div>
				<div class="form-group"> 
   					 <div class="col-xs-offset-3 col-xs-3">
    				  <button type="submit" class="btn btn-info">Rechercher</button>
    				</div>
   					 <div class="col-xs-offset-3 col-xs-3">
    				  <a href="#!/creationMedia" class="btn btn-default">Nouveau</a>
    				</div>
  				</div>
			</form>
			
			<div class="col-xs-12 table-responsive">
				<table class="table table-striped table-bordered table-hover">
				  <tr>
				    <th>Titre</th>
				    <th>Type</th>
				    <th>Auteur</th>
				    <th>Emprunté par</th>
				    <th>Date de retour prévu</th>
				  </tr>
				  <tr ng-repeat="media in medias">
				    <td><a href="#!/visuMedia?id={{media.id}}">{{media.titre}}</a></td>
				    <td><span class="glyphicon {{getTypeIcon(media)}}" data-toggle="tooltip" title="{{media.type}}"></span></td>
				    <td>{{media.auteur}}</td>
				    <td>{{media.emprunteur}}</td>
				    <td>{{media.dateRetourPrevue}}</td>
				  </tr>
				</table>
		</div>
			
	</div>