<div class="container">

		<div class="col-xs-12" style="padding: 12px">
			<h2>Enregistrement d'un nouvel adhérent</h2>
		</div>

		<form class="form-horizontal" ng-submit="CreationAdherent()">
			<div class="form-group">
				<label class="control-label col-sm-2">Nom :</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="nomadherent" ng-model="adh.Nom"
						placeholder="Votre nom" required>
				</div>

			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Prénom :</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="prenomadherent" ng-model="adh.Prenom"
						placeholder="Votre prénom" required>
				</div>

			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2">Date de naissance :</label>
				<div class="col-sm-9">
					<input type="date" id="theDate" placeholder="dd-MM-yyyy" class="form-control" id="dateadherent" ng-model="adh.DateNaiss" required>
				</div>

			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2">Âge :</label>
				<div class="col-sm-9">
					<input type="number" class="form-control" id="ageadherent" ng-model="adh.Age" disabled>
				</div>

			</div>
			

			<div class="form-group">
				<label class="control-label col-sm-2">Email :</label>
				<div class="col-sm-9">
					<input type="email" class="form-control" id="emailadherent" ng-model="adh.Mail"						placeholder="Email" required>
				</div>

			</div>
			

			<div class="form-group">
				<label class="control-label col-sm-2">Adresse :</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="adresse"
						placeholder="N° rue" name="adresseadherentl" ng-model="adh.Adresse">
				</div>
				<div class="col-sm-3">
					<input type="number" class="form-control" id="cp"
						placeholder="Code postal" name="cpadherent" ng-model="adh.CP">
				</div>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="ville"
						placeholder="Ville" name="villeadherent" ng-model="adh.Ville">
				</div>

			</div>
			

			<div class="form-group">
				<label class="control-label col-sm-2">Date de paiement de la
					cotisation :</label>
				<div class="col-sm-9">
					<input type="date"  placeholder="dd-MM-yyyy" class="form-control" id="datecotiadherent" ng-model="adh.DateCoti">
				</div>

			</div>
			
 
			<div class="form-group">
				<label class="control-label col-sm-2">Montant de la cotisation :</label>
				<div class="col-sm-9">

					<input type="number" step="0.01" class="form-control"
						id="cotiadherent" placeholder="Montant de la cotisation" ng-model="adh.MontantCoti" min="0">
				</div>
			</div>
			
					
			<div class="form-group">
				<label class="control-label col-sm-2">Fin cotisation :</label>
				<div class="col-sm-9">
					<input type="date" placeholder="dd-MM-yyyy" class="form-control" id="fincotiadhrent" ng-model="adh.DateFinCoti" disabled>
				</div>

			</div>
			
			<br> <input class="btn btn-success btn-lg center-block"
				type="submit" value="Enregistrer">

		</form>
			<pre>{{AdherentsCrees}}</pre>
			<p class="messAdhMediaCree">{{MessageAdhCree}} </p>
	</div>